<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/head.ejs') %>
    <title><%= title %></title>
  </head>
  <body>

    <%- include('partials/navigation.ejs') %>
      <main id="main" class="container">
      <h1>Adjust Motion Parameters</h1>

      <form class="form" onsubmit="sendData(event.preventDefault())">
        <input type="text" id="x" placeholder="x" />
        <label for="x"> x</label><br />
        <input type="text" id="y" placeholder="y" />
        <label for="y"> y</label><br />

        <input type="text" id="z" placeholder="z" /><label for="z"> z</label
        ><br />

        <input type="text" id="pitch" placeholder="pitch" /><label for="pitch">
          pitch</label
        ><br />

        <input type="text" id="roll" placeholder="roll" /><label for="roll">
          roll</label
        ><br />

        <input type="text" id="inclination" placeholder="inclination" /><label
          for="inclination"
        >
          inclination</label
        ><br />

        <input type="text" id="orientation" placeholder="orientation" /><label
          for="orientation"
        >
          orientation</label
        ><br />

        <input type="text" id="acceleration" placeholder="acceleration" /><label
          for="acceleration"
        >
          acceleration</label
        ><br />
        <label for="action">Choose an Action:</label>

        <select name="action" id="action">
          <option value="recostado">recostado</option>
          <option value="parado">parado</option>
          <option value="comiendo">comiendo</option>
          <option value="caminando">caminando</option>
        </select>
        <br />
        <label for="label">Choose an Label:</label>

        <select name="label" id="label">
          <option value="0">recostado</option>
          <option value="1">parado</option>
          <option value="2">comiendo</option>
          <option value="3">caminando</option>
        </select>
        <br />
        <button type="submit" class="button button-primary">Send Action</button>
      </form>
    </main>
    <div class="container">
      
    </div>

    
    <%- include('partials/footer.ejs') %>
  </body>
</html>
